{% extends "index.html" %}
{% block title %}My Cart {% endblock %}
{% block content %}
<h2 id="cart-title">My Cart ({{n}})</h2>
{% for i in messages %}
{{message}}
{% endfor %}
<div class="my_cart-div">
    <div class="product-details">
        {% for quantity,item,img,mrp,price,slug in result_cart %}
        <div class="mycart_card">
            <img src="/media/{{img}}" alt="">
            <div class="cart-details">
                <p id="item">{{item}}</p>
                <div class="price">
                    <p id='mrp'>&#8377 {{mrp}}</p>
                    <p id='price'>&#8377 {{price}}</p>
                </div>
                <div class="quantity">
                    <p id='quantity'>Quantity: {{quantity}}</p>
                    <div class="quantity-input">
                        <a href="/remove-from-cart/{{slug}}"><i class="fas fa-minus"></i></a>
                        <input type="text" value="{{quantity}}" disabled="true" style="width:30px;text-align:center">
                        <a href="/cart/{{slug}}"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="price-details">
        <h3>Price Details</h3>
        <hr>
        <div id="total_price">
            <p>Price</p>
            <p>&#8377 {{total_mrp}}</p>
        </div>
        <div id="total_discount">
            <p>Discount</p>
            <p>- &#8377 {{total_discount}}</p>
        </div>
        <div>
            <p>Delivery Charges</p>
            <p>FREE</p>
        </div>
        <hr>
        <div class="total_amount">
            <p>Total Amount</p>
            <p>&#8377 {{total_price}}</p>
        </div>
        <hr>
        <p>You will save &#8377 {{total_discount}} on this order</p>
        <div class="button">
            <button class="btn-primary">Proceed to checkout</button>
        </div>
    </div>
    
</div>
<style>
    .product-details {
        display: flex;
        flex-direction: column;
    }

    body {
        background: linear-gradient(to right, rgb(17, 0, 44), rgb(53, 8, 124));
        color: white;
    }

    .mycart_card {
        margin: 10px;
        display: grid;
        grid-template-columns: 0.3fr 1fr;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.1);
        overflow: hidden;
        align-items: center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        padding: 10px;
    }

    .mycart_card img {
        width: 100%;
        padding: 10px;
    }

    .my_cart-div {
        display: grid;
        grid-template-columns: 1fr 0.6fr;
    }

    #item {
        font-size: 24px;
    }

    .price {
        display: flex;
        gap: 10px;
    }

    #mrp {
        text-decoration: line-through;
    }

    .price-details {
        margin: 10px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        padding: 12px;
        border-radius: 10px;
        height: 420px;
    }

    .price-details h3 {
        font-weight: 600;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    }

    #cart-title {
        text-align: center;
        margin: 10px 3px;
        font-weight: 700;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    }
    .price-details div{
        display:flex;
        justify-content:space-between;
        font-size: 18px;
    }
    .price-details .button{
        font-size:20px;
        text-align:center;
        display:flex;
        justify-content:center;
    }
</style>
{% endblock %}