{% extends 'index.html' %}
{% load static %}
{% block title %}Results{% endblock %}
{% block content %}
<div class="results-div">
    <div class="product_results">
        <div class="card">
            <div class="content">
                <img src="https://o.remove.bg/downloads/575f0cc6-fdba-4e20-82c5-60d27486f54e/1256.750_2x-removebg-preview.png" alt="img">
                <h2>Fresh Mango</h2>
                <p>&#8377 25</p>
                <p>&#8377 20</p>
                <button>Buy Now</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <img src="https://o.remove.bg/downloads/575f0cc6-fdba-4e20-82c5-60d27486f54e/1256.750_2x-removebg-preview.png" alt="img">
                <h2>Fresh Mango</h2>
                <p>&#8377 25</p>
                <p>&#8377 20</p>
                <button>Buy Now</button>
            </div>
        </div>
        <div class="card">
            <div class="content">
                <img src="https://o.remove.bg/downloads/575f0cc6-fdba-4e20-82c5-60d27486f54e/1256.750_2x-removebg-preview.png" alt="img">
                <h2>Fresh Mango</h2>
                <p>&#8377 25</p>
                <p>&#8377 20</p>
                <button>Buy Now</button>
            </div>
        </div>
    </div>
</div>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    *{
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
    }
    .results-div{
        display:flex;
        justify-content:center;
        align-items:center;
        min-height:100vh;
        background:#161623;
        position:relative;
        display:flex;
        justify-content:center;
        align-items:center;
        max-width: 100%;
        flex-wrap: wrap;
        z-index:1;
    }
    .card{
        position: relative;
        width:280px;
        height:400px;
        margin: 30px;
        box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
        border-radius:15px;
        background:rgba(255,255,255,0.1);
        overflow: hidden;
        display:flex;
        justify-content:center;
        align-items:center;
        border-top:  1px solid rgba(255,255,255,0.5);
        border-left:  1px solid rgba(255,255,255,0.5);
        backdrop-filter: blur(5px);
    }
    .content{
        padding: 20px;
        text-align: center;
        transition:0.5s;
    }
    .content h2{
        color: white;
        font-weight:600;
    }
    .content p{
        color: white;
        font-weight:300;
        font-size:1em;
    }
    .content button{
        border: none;
        outline: none;
        padding:4px 10px;
        font-size:18px;
        border-radius:16px;
    }
    .product_results{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .content img{
        width:200px;
    }
</style>
<script type="text/javascript" src="{% static 'js/vanilla-tilt.js' %}"></script>
<script>VanillaTilt.init(document.querySelectorAll(".card"), {
    max: 25,
    speed: 400,
    glare: true,
    'max-glare':1
});</script>
{% endblock %}